<?xml version="1.0" encoding="utf-8"?>
<shortcuts xmlns:android="http://schemas.android.com/apk/res/android">
    <shortcut
        android:shortcutId="new_quick_chat"
        android:enabled="true"
        android:icon="@mipmap/ic_launcher"
        android:shortcutShortLabel="@string/shortcut_quick_chat_short"
        android:shortcutLongLabel="@string/shortcut_quick_chat_long">
        <intent
            android:action="com.tarkilhk.wing.action.QUICK_CHAT"
            android:targetPackage="@APPLICATION_ID@"
            android:targetClass="com.tarkilhk.wing.MainActivity" />
        <categories android:name="android.shortcut.conversation" />
    </shortcut>
    <shortcut
        android:shortcutId="activity"
        android:enabled="true"
        android:icon="@drawable/ic_shortcut_activity"
        android:shortcutShortLabel="@string/shortcut_activity_short"
        android:shortcutLongLabel="@string/shortcut_activity_long">
        <intent
            android:action="com.tarkilhk.wing.action.ACTIVITY"
            android:targetPackage="@APPLICATION_ID@"
            android:targetClass="com.tarkilhk.wing.MainActivity" />
    </shortcut>
    <shortcut
        android:shortcutId="search_chats"
        android:enabled="true"
        android:icon="@drawable/ic_shortcut_search"
        android:shortcutShortLabel="@string/shortcut_search_short"
        android:shortcutLongLabel="@string/shortcut_search_long">
        <intent
            android:action="com.tarkilhk.wing.action.SEARCH_CHATS"
            android:targetPackage="@APPLICATION_ID@"
            android:targetClass="com.tarkilhk.wing.MainActivity" />
    </shortcut>
</shortcuts>
